<div class="form-container">
  <form #schoolForm="ngForm" (ngSubmit)="onSubmit(schoolForm.value)">
    <h4>Async Validator</h4>
    <div class="form-body" ngModelGroup="data">
      <div class="form-control">
        School Name
        <input
          type="text"
          placeholder="School Name"
          name="schoolName"
          [(ngModel)]="schoolName"
        />
      </div>
      <div class="form-control">
        Total Student Count
        <input
          type="text"
          placeholder="Total Student Count"
          name="totalStudentCount"
          [ngModel]="totalStudentCount"
          (ngModelChange)="totalStudentCount = $event"
        />
      </div>
    </div>
    <button>submit</button>
    {{ schoolForm.value | json }}
  </form>
</div>
