<!--
<nav>
  <a
    routerLink="home"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >home</a
  >
  |
  <a
    routerLink="login"
    routerLinkActive="active-link"
    [queryParams]="{ auth: true }"
    [routerLinkActiveOptions]="{ exact: true }"
    >login</a
  >
  |
  <a
    routerLink="login/new"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >new login</a
  >
  |
  <a
    routerLink="signup"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >signup</a
  >
  |
  <a [routerLink]="['team', '20']" routerLinkActive="active-link">team</a>
-->
<!--
    [queryParams]="{ myTeam: true }"
    fragment="myTitle"
  -->

<!--</nav>
<div>
  <router-outlet></router-outlet>
</div>
-->
<br />
<button routerLink="" mat-raised-button color="primary">Home</button>
<button routerLink="products" mat-raised-button color="primary">Product</button>
<button (click)="login()" mat-raised-button color="primary">Login</button>
<hr />

<button
  [routerLink]="[
    { outlets: { primary: 'products', side: 'products-sidebar' } }
  ]"
  mat-raised-button
  color="primary"
>
  Toggle Product Side bare
</button>
<hr />
<router-outlet></router-outlet>
<hr />
<router-outlet name="side"></router-outlet>
