<div class="form-container">
  <form [formGroup]="schoolForm">
    <h4>Dynamic Form</h4>
    <div class="form-body">
      <div class="form-control">
        school name
        <input
          type="text"
          placeholder="school name"
          formControlName="schoolName"
        />
      </div>
      <div class="form-control">
        total student count
        <input
          type="text"
          placeholder="total student count"
          formControlName="totalStudentsCount"
        />
      </div>
      <div
        class="class-rooms"
        formArrayName="classRooms"
        *ngIf="getClassRooms().controls.length"
      >
        <ng-container
          *ngFor="
            let classRoom of getClassRooms().controls;
            let indexClass = index
          "
        >
          <div class="class-rooms_room" [formGroupName]="indexClass">
            <div class="form-control">
              student count
              <input
                type="text"
                placeholder="student count"
                formControlName="studentCount"
              />
            </div>
            <div class="form-control">
              class room number
              <input
                type="text"
                placeholder="class room number"
                formControlName="classRoomNumber"
              />
            </div>
            <div class="class-rooms_room-subject" formArrayName="subjects">
              <ng-container
                *ngFor="
                  let subj of getClassRoomSubject(indexClass).controls;
                  let indexSubject = index
                "
              >
                <div class="subject" [formGroupName]="indexSubject">
                  <div class="form-control">
                    subject name
                    <input
                      type="text"
                      placeholder="subject name"
                      formControlName="subjectName"
                    />
                  </div>
                  <div class="form-control">
                    Student count
                    <input
                      type="text"
                      placeholder="student count"
                      formControlName="studentsCount"
                    />
                  </div>
                  <button
                    type="button"
                    class="delete-btn"
                    (click)="deleteSubject(indexSubject, indexClass)"
                  >
                    Delete subject
                  </button>
                </div>
              </ng-container>
            </div>

            <button
              type="button"
              class="delete-btn"
              (click)="deleteClassRoom(indexClass)"
            >
              Delete class room
            </button>

            <button
              type="button"
              class="add-btn"
              (click)="addClassRoomSubject(indexClass)"
            >
              Add subject
            </button>
          </div>
        </ng-container>
      </div>
      <button type="button" class="add-btn" (click)="addClassRoom()">
        Add class room
      </button>
      <hr />
      <pre>{{ schoolForm.value | json }}</pre>
    </div>
  </form>
</div>
