<div>
  <label>
    Name :
    <input type="text" [formControl]="name" />
  </label>
  <label>
    <button (click)="updateValue()">update value</button>
  </label>
</div>
{{ name.value }}

<hr />
<form [formGroup]="profile" (ngSubmit)="onSubmit()">
  <label>
    first name : <input type="text" formControlName="firstName" />
    <span *ngIf="firstName?.invalid && firstName?.touched && firstName?.dirty"
      >first name is invalid</span
    >
  </label>
  <br />
  <label
    >last name:
    <input type="text" formControlName="lastName" />
  </label>
  <br />
  <label> Email : <input type="text" formControlName="mail" /></label>
  <br />
  <div formGroupName="adress">
    <label>city: <input type="text" formControlName="city" /> </label>
    <br />
    <label>
      Street:
      <input type="text" formControlName="street" />
    </label>
    <br />
  </div>
  <label>
    Password:
    <input type="text" formControlName="password" />{{
      password?.errors | json
    }}
  </label>
  <br />
  <label>
    confirm Password:
    <input type="text" formControlName="confirmPassword" />
  </label>
  <br />
  <button>Submit</button>
  <button type="button" (click)="mail1()">update value</button>
</form>
<p>{{ profile.errors | json }}</p>
